################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

gitignore
/.vs
/goggle-places-autocomplete-service.njsproj
/goggle-places-autocomplete-service.sln
